@import "tailwindcss";

:root {
  --gray-h: 0;
  --gray-s: 0%;
  --pink-h: 343;
  --pink-s: 62%;
  --custard-h: 52;
  --custard-s: 52%;
  --moss-h: 154;
  --moss-s: 15%;
  --lilac-h: 262;
  --lilac-s: 24%;
}

@theme {
  --color-error: #ef0101;

  --color-ink-0: hsl(var(--gray-h) var(--gray-s) 0%); /* Black */
  --color-ink-10: hsl(var(--gray-h) var(--gray-s) 10%);
  --color-ink-20: hsl(var(--gray-h) var(--gray-s) 20%);
  --color-ink-30: hsl(var(--gray-h) var(--gray-s) 30%);
  --color-ink-45: hsl(var(--gray-h) var(--gray-s) 45%);
  --color-ink-60: hsl(var(--gray-h) var(--gray-s) 60%);
  --color-ink-75: hsl(var(--gray-h) var(--gray-s) 75%);
  --color-ink-80: hsl(var(--gray-h) var(--gray-s) 80%);
  --color-ink-85: hsl(var(--gray-h) var(--gray-s) 85%);
  --color-ink-90: hsl(var(--gray-h) var(--gray-s) 90%);
  --color-ink-95: hsl(var(--gray-h) var(--gray-s) 95%);
  --color-ink-100: hsl(var(--gray-h) var(--gray-s) 100%); /* White */

  --color-pink: hsl(var(--pink-h) var(--pink-s) 70%);
  --color-pink-med: hsl(var(--pink-h) var(--pink-s) 80%);
  --color-pink-light: hsl(var(--pink-h) var(--pink-s) 90%);

  --color-custard: hsl(var(--custard-h) var(--custard-s) 60%);
  --color-custard-med: hsl(var(--custard-h) var(--custard-s) 70%);
  --color-custard-light: hsl(var(--custard-h) var(--custard-s) 86%);

  --color-moss: hsl(var(--moss-h) var(--moss-s) 65%);
  --color-moss-med: hsl(var(--moss-h) var(--moss-s) 75%);
  --color-moss-light: hsl(var(--moss-h) var(--moss-s) 80%);

  --color-lilac: hsl(var(--lilac-h) var(--lilac-s) 60%);
  --color-lilac-med: hsl(var(--lilac-h) var(--lilac-s) 72%);
  --color-lilac-light: hsl(var(--lilac-h) var(--lilac-s) 80%);
/* 
  --color-pink: hsl(var(--pink-h) var(--pink-s) 74%);
  --color-pink-med: hsl(var(--pink-h) var(--pink-s) 82%);
  --color-pink-light: hsl(var(--pink-h) var(--pink-s) 90%);

  --color-custard: hsl(var(--custard-h) var(--custard-s) 75%);
  --color-custard-med: hsl(var(--custard-h) var(--custard-s) 83%);
  --color-custard-light: hsl(var(--custard-h) var(--custard-s) 89%);

  --color-moss: hsl(var(--moss-h) var(--moss-s) 67%);
  --color-moss-med: hsl(var(--moss-h) var(--moss-s) 75%);
  --color-moss-light: hsl(var(--moss-h) var(--moss-s) 83%);

  --color-lilac: hsl(var(--lilac-h) var(--lilac-s) 64%);
  --color-lilac-med: hsl(var(--lilac-h) var(--lilac-s) 72%);
  --color-lilac-light: hsl(var(--lilac-h) var(--lilac-s) 80%); */

  --color-icon-fill: var(--color-ink-90);
  --color-icon-stroke: var(--color-ink-10);
  --color-icon-base: var(--color-ink-100);
}

@theme inline {
  --font-sans: var(--font-cooper-hewitt), system-ui, sans-serif;
  --font-accent: var(--font-kalam), cursive;
}

body {
  background: var(--color-ink-95);
  font-weight: 400;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 150%;
  color: var(--color-ink-0);
}
